[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=python3 /home/toshiba-inu/github/gui_white_rabbit/launcher.py
Name=White Rabbit
Comment=Rabbit Chatbot
